* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    min-height: 100%;
}

body {
  background-color: snow;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center; 
    color: lightslategray;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 710px;
    margin: 0 auto;
}

form  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

#cityName {
  width: 350px;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

button {
  color: rgb(43, 54, 65);
  background-color: rgb(201, 212, 223);
  border-color: lightslategray;
  border-radius: 5px;
}

#cityName {
  border-color: lightslategray;
  border-radius: 5px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: lightslategray;
}

.weather-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 710px;
}
.card-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    font-size: 20px;
    color: rgb(79, 95, 110);
}

.map-container {
  max-width: 350px;
  max-height: 350px;
}

img{
  width: 100%;
  align-self: baseline;
}

.local-storage {
  color: slategray;
}

.error-message {
    color: red;
    margin-top: 10px;
}